.loader {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--color-grey);

    img {
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
