.status-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--color-gray);
    gap: 1rem;

    svg {
        font-size: 10rem;
        margin-bottom: 2rem;
    }

    &__actions {
        display: flex;
        gap: 1rem;
    }
}
